{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% spaceless %}
{% set defaultFavicon = '/tpl/favicon_' ~ webstoreConfig.webstoreId ~ '.ico' %}
{% set iconCSS = plugin_path("Ceres") ~ "/css/ceres-icons.css" %}
{# asynchronously load icons.css #}
{% set defaultCSS = plugin_path("Ceres") ~ "/css/" ~ assetName ~ ".css?v=" ~ buildHash %}
{% set defaultSCSS = plugin_path("Ceres") ~ "/css/" ~ assetName ~ ".scss?v=" ~ buildHash %}

{% set details = null %}
{% set robots = '' %}
{% set description = '' %}
{% set keywords = '' %}
{% set image = '' %}
{% set title = '' %}

{% if category is defined and category is not null %}
    {% set details = category.details[0] %}
{% endif %}

{% if block('robots') is defined %}
    {% set robots = block('robots') | default('NOINDEX, NOFOLLOW') %}
{% elseif details is not null %}
    {% set robots = services.SEO.getRobotsInformation() %}
{% endif %}

{% if block('description') is defined %}
    {% set description = block('description') %}
{% elseif details is not null %}
    {% set description = details.metaDescription %}
{% endif %}

{% if block('keywords') is defined %}
    {% set keywords = block('keywords') %}
{% elseif details is not null %}
    {% set keywords = details.metaKeywords %}
{% endif %}

{% set companyLogo = ceresConfig.header.companyLogo %}
{% if block('image') is defined %}
    {% set image = block('image') | default(companyLogo) %}
{% elseif details is not null %}
    {% set image = details.imagePath | default(companyLogo) %}
{% endif %}

{% if block('title') is defined %}
    {% set title = block('title') %}
{% elseif details is not null %}
    {% set title = details.metaTitle | default(details.name) %}
{% endif %}

{% set type             = block('type') | default('article') %}
{% set url              = block('url') | default(services.url.getCanonicalURL()) | default(webstoreConfig.domainSsl) %}

{% if title | trim is not empty %}
    {% set title = title ~ " | " %}
{% endif %}
{% set title = title ~ trans("Ceres::Template.headerCompanyName") %}

{% if not (image starts with 'https://' or image starts with 'http://' or image starts with 'layout/'or image starts with '/documents/') %}
    {% set image = plugin_path('Ceres') ~ "/" ~ image %}
{% endif %}

{% endspaceless %}

{# add favicon #}
<link rel="icon" type="img/ico" href="{{ webstoreConfig.faviconPath | default(ceresConfig.global.favicon) | default(defaultFavicon) }}">
<link rel="preload" href="{{ iconCSS }}" as="style" onload="this.onload=null;this.rel='stylesheet';">
<link rel="preload" as="style" href="{{ defaultCSS }}">
<meta name="robots" content="{% if forceNoIndex %}NOINDEX{% else %}{{ robots }}{% endif %}">
{% if description | trim is not empty %}
<meta name="description" content="{{ description | trim }}">
{% endif %}
{% if keywords | trim is not empty %}
<meta name="keywords" content="{{ keywords | trim }}">
{% endif %}
<title>{{ title | trim | raw }}</title>

<meta property="og:title" content="{{ title | trim | raw }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ url | trim }}"/>
<meta property="og:image" content="{{ image | trim }}"/>

<script type="application/ld+json">
{% block schemaOrg %}
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ url | raw }}"
    {% if services.template.isHome() %}
    ,"potentialAction":{
        "@type": "SearchAction",
        "target": "{{ webstoreConfig.domainSsl ~ urls.search }}?query={search_term}",
        "query-input": "required name=search_term"
    }
    {% endif %}
}
{% endblock %}
</script>
